:root {
    --main: rgba(42, 176, 90, 1);
    --navy: rgba(67, 84, 99, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --gray-100: rgba (230, 230, 230, 1) ;
    --gray-200: rgba(204, 204, 204, 1);
    --gray-300: rgba(179, 179, 179, 1);
    --gray-400: rgba(153, 153, 153, 1);
    --gray-500: rgba(128, 128, 128, 1);
    --gray-600: rgba(102, 102, 102, 1);
    --gray-700: rgba(77, 77, 77, 1);
    --gray-800: rgba(51, 51, 51, 1);
    --gray-900: rgba(26, 26, 26, 1);
    --light-navy: rgba(134, 148, 177, 1);
    --post-it: rgba(163, 213, 241, 1);
    --head-b-32-font-family: "Pretendard", Helvetica;
    --head-b-32-font-weight: 700;
    --head-b-32-font-size: 32px;
    --head-b-32-letter-spacing: -0.5px;
    --head-b-32-line-height: normal;
    --head-b-32-font-style: normal;
    --head-b-28-font-family: "Pretendard", Helvetica;
    --head-b-28-font-weight: 700;
    --head-b-28-font-size: 28px;
    --head-b-28-letter-spacing: -0.5px;
    --head-b-28-line-height: normal;
    --head-b-28-font-style: normal;
    --head-b-24-font-family: "Pretendard", Helvetica;
    --head-b-24-font-weight: 700;
    --head-b-24-font-size: 24px;
    --head-b-24-letter-spacing: -0.5px;
    --head-b-24-line-height: normal;
    --head-b-24-font-style: normal;
    --head-b-20-font-family: "Pretendard", Helvetica;
    --ihead-b-20-font-weight: 700;
    --head-b-20-font-size: 20px;
    --head-b-20-letter-spacing: -0.5px;
    --head-b-20-line-height: normal;
    --head-b-20-font-style: normal;
    --head-b-18-font-family: "Pretendard", Helvetica;
    --head-b-18-font-weight: 700;
    --head-b-18-font-size: 18px;
    --head-b-18-letter-spacing: -0.5px;
    --head-b-18-line-height: normal;
    --head-b-18-font-style: normal;
    --head-b-16-font-family: "Pretendard", Helvetica;
    --head-b-16-font-weight: 700;
    --head-b-16-font-size: 16px;
    --head-b-16-letter-spacing: -0.5px;
    --head-b-16-line-height: normal;
    --head-b-16-font-style: normal;
    --head-b-14-font-family: "Pretendard", Helvetica;
    --head-b-14-font-weight: 700;
    --head-b-14-font-size: 14px;
    --head-b-14-letter-spacing: -0.5px;
    --head-b-14-line-height: normal;
    --head-b-14-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 600;
    --body-SB-20-font-size: 20px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 600;
    --body-SB-20-font-size: 18px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 600;
    --body-SB-20-font-size: 14px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 600;
    --body-SB-20-font-size: 12px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 600;
    --body-SB-20-font-size: 10px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 600;
    --body-SB-20-font-size: 8px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 500;
    --body-SB-20-font-size: 20px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 500;
    --body-SB-20-font-size: 18px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 500;
    --body-SB-20-font-size: 16px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 500;
    --body-SB-20-font-size: 14px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 500;
    --body-SB-20-font-size: 12px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 500;
    --body-SB-20-font-size: 10px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --body-SB-20-font-family: "Pretendard", Helvetica;
    --body-SB-20-font-weight: 500;
    --body-SB-20-font-size: 8px;
    --body-SB-20-letter-spacing: -0.5px;
    --body-SB-20-line-height: normal;
    --body-SB-20-font-style: normal;
    --drop-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}